@font-face {
   font-family: 'Signika-Regular';
   font-display: swap;
   src: url('Signika-Regular/font.ttf');
}
@font-face {
   font-family: 'AnyConv.com__Brandon_reg';
   font-display: swap;
   src: url('AnyConv.com__Brandon_reg/font.ttf');
}
